
/*---------HEADER---------*/
header{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(/resources/css/img/hero-edit-1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 0 2px 2px #646464;
}
.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    right: 0;
    text-align: right;
    margin-right: 60px;
    font-size: 1.9em;
}
.logo-area{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 0%;
    content: "";
    margin-left: -250px;
    text-align: center;
}
.logo{
    width: 500px;
    height: auto;
}
.boce{
    height: 300px;
    width: auto;
    position: absolute;
    top: 50%;
    margin-left: 100px;
}


/*-------NASA BAJKA-----------*/
.section-bajka{
    margin-top: 70px;
    margin-bottom: 120px;
}
.section-bajka h2{
    text-align: center;
    color: #555555;
}
.section-bajka p{
    display: block;
    margin: 20px auto;
    color: #555555;
    width: 700px;
    line-height: 1.5em;
    text-align: justify;
}
.img-berba{
    display: block;
    margin: 20px auto;
    height: 500px;
    width: auto;
}
.shadow
{
    background: url(/resources/css/img/Berba.JPG) left top no-repeat;
    box-shadow: 25px 25px 25px 0 white inset, -25px -25px 25px 0 white inset; 
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 900px;
}

/*---------VINA------------*/
.section-vina{
    padding: 75px 0;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(/resources/css/img/vinoteka.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 0 -2px 2px #646464;
}
.section-vina h1{
    text-align: center;
    margin-bottom: 50px;
}
.section-vina a{
    text-decoration: none;
}
.section-vina h2{
    color: #ffffff;
    text-align: center;
}
.vino-1{
    margin-top: 10px;
}
.vino-2{
    margin-top: 60px;
}
.vino-3{
    margin-top: 120px;
}
.img-boca{
    height: 300px;
    width: auto;
    display: block;
    margin: 10px auto 0 auto;
}

/*--------KONTAKT--------*/
.section-kontakt{
    margin-bottom: 70px
}
.section-kontakt h1{
    font-weight: 300;
    text-align: center;
    margin: 40px 0;
}

.kontakt-form{
    width: 60%;
    margin: 0 auto;
    color: #555555;
}
input[type=text],input[type=email],textarea{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
textarea{
    height: 150px;
}
input[type=submit]{
    background-color: #BE9E62;
    border-radius: 5px;
    border: 1px solid #555;
    color: #fff;
    padding: 7px;
    width: 150px;
    transition: background-color 0.2s;
}
input[type=submit]:hover,
input[type=submit]:active{
    background-color: #a88545;
}
*:focus{outline: none;}

.kontakt-row{
    color: #555555;
    display: block;
    margin-bottom: 30px;
    text-align: center;
}
.kontakt-row a{
    text-decoration: none;
    color: #BE9E62;
}
.telefon-broj{
    margin: 10px 0;
}
.email-mail{
    margin: 10px 0;
}
.section-kontakt h1{
    color: #555555;
}

/*---------QUERIES----------*/


@media(max-width: 1600px){
    .logo-area{
        margin-left: -250px;
    }
    .logo{
        width: 500px;
    }
}
@media(max-width: 1200px){
    .logo-area{
        margin-left: -200px;
    }
    .logo{
        width: 400px;
    }
    .boce{
        height: 200px;
        width: auto;
        position: absolute;
        top: 50%;
        margin-left: 10px;
    }
    .img-boca{
        height: 250px;
    }
    .kontakt-form{
        width: 80%;
    }
}
@media(max-width: 900px){
    .shadow{
        height: 500px;
        width: 800px;
    }
}
@media(max-width: 800px){
    .logo-area{
        margin-left: -150px;
    }
    .logo{
        width: 300px;
    }
    .shadow{
        height: 400px;
        width: 650px;
    }
    .section-vina h2{
        margin-left: 10px;
        padding-right: 30px;
    }
    .section-bajka p{
        width: 600px;
    }
}