
header{
    background-color: #4b4b4b;
    box-shadow: 0 2px 2px #646464;
}
.logo-area{
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 0%;
    content: "";
    margin-left: -75px;
    text-align: center;
}
.logo{
    width: 150px;
    height: auto;
}

/*---------VINA------------*/
.section-vina{
    padding: 75px 0;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(/resources/css/img/vinoteka.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 0 -2px 2px #646464;
}
.section-vina h1{
    text-align: center;
    margin: 50px 0;
}
.section-vina a{
    text-decoration: none;
}
.section-vina h2{
    color: #ffffff;
    text-align: center;
}
.vino-1{
    margin-top: 10px;
}
.vino-2{
    margin-top: 60px;
}
.vino-3{
    margin-top: 120px;
}
.img-boca{
    height: 300px;
    width: auto;
    display: block;
    margin: 10px auto 0 auto;
}